@page "/"

@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <label class="h2 mb-4">BIENVENIDO</label>
            <div class="d-grid gap-3 mt-4">
                <button class="btn btn-primary btn-lg" type="button" @onclick="IrATablaCliente">Tabla Clientes</button>
                <button class="btn btn-secondary btn-lg" type="button" @onclick="IrATablaEmpleados">Tabla Empleados</button>
                <button class="btn btn-dark btn-lg" type="button" @onclick="IrATablaSucursales">Tabla Sucursales</button>

            </div>
        </div>
    </div>
    
</div>

@code {
    void IrATablaCliente()
    {
        Navigation.NavigateTo("/RegistroClientes/tabla");
    }

    void IrATablaEmpleados()
    {
        Navigation.NavigateTo("/RegistroVentas/tabla");
    }
    void IrATablaSucursales()
    {
        Navigation.NavigateTo("/RegistroSucursales/tabla");
    }
}
